<section class="action">
  <header>
    <h1>Dodaj apartament</h1>
  </header>
  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="name">Nazwa:</label>
          <input type="text" class="form-control" id="name" name="name" [ngModel]="apartment?.name">
          <p *ngIf="form.value.name === '' && form.invalid == true;">To pole jest obowiązkowe</p>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="country">Kraj:</label>
          <input type="text" class="form-control" name="country" id="country" [ngModel]="apartment?.country">
          <p *ngIf="form.value.country === '' && form.invalid == true;">To pole jest obowiązkowe</p>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="province">Województwo:</label>
          <input type="text" class="form-control" name="province" id="province" [ngModel]="apartment?.province">
          <p *ngIf="form.value.province === '' && form.invalid == true;">To pole jest obowiązkowe</p>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="city">Miasto:</label>
          <input type="text" class="form-control" name="city" id="city" [ngModel]="apartment?.city">
          <p *ngIf="form.value.city === '' && form.invalid == true;">To pole jest obowiązkowe</p>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="area">Powierzchnia:</label>
          <input type="text" class="form-control" name="area" id="area" [ngModel]="apartment?.area">
          <p *ngIf="form.value.floor_number === '' && form.touched == true;">To pole jest obowiązkowe</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="street">Ulica:</label>
          <input type="text" class="form-control" name="street" id="street" [ngModel]="apartment?.street">
          <p *ngIf="form.value.street === '' && form.invalid == true;">To pole jest obowiązkowe</p>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="floor_number">Numer piętra:</label>
          <input type="number" class="form-control" name="floor_number" id="floor_number"
                 [ngModel]="apartment?.floor_number">
          <p *ngIf="form.value.floor_number === '' && form.invalid == true;">To pole jest obowiązkowe</p>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="house_number">Numer domu:</label>
          <input type="number" class="form-control" name="house_number" id="house_number"
                 [ngModel]="apartment?.house_number">
          <p *ngIf="form.value.house_number === '' && form.touched == true;">To pole jest obowiązkowe</p>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="flat_number">Numer mieszkania:</label>
          <input type="number" class="form-control" name="flat_number" id="flat_number"
                 [ngModel]="apartment?.flat_number">
          <p *ngIf="form.value.flat_number === '' && form.invalid == true;">To pole jest obowiązkowe</p>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="price">Cena:</label>
          <input type="number" class="form-control" name="price" id="price" [ngModel]="apartment?.price">
          <p *ngIf="form.value.price === '' && form.invalid == true;">To pole jest obowiązkowe</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="short_description">Krótki opis:</label>
      <input type="text" class="form-control" id="short_description" name="short_description"
             [ngModel]="apartment?.short_description"/>
    </div>
    <div class="form-group">
      <label for="description">Treść</label>
      <textarea rows="5" class="form-control" id="description" name="description"
                [ngModel]="apartment?.description"></textarea>
    </div>
    <div class="row">
      <div class="col-2 image" *ngFor = "let val of images">
        <picture>
          <img src="http://145.239.83.211:81/api/photos/{{val}}" alt="" />
        </picture>
      </div>
      <div class="form-group inputImage">
        <label for="images">
          <figure>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
          </figure>
          <span>Załaduj zdjęcia</span>
        </label>
        <input type="file" class="form-control" (change)="inputFile($event.target.files)" name="images" id="images">
        <p *ngIf="form.value.images === '' && form.invalid == true;">To pole jest obowiązkowe</p>
      </div>
    </div>
    <div class="form-group select">
      <label>Dostępność:</label>
      <select name="status" [(ngModel)]="selectedOption">
        <option [value]="option.value" *ngFor="let option of options">{{option.name}}</option>
      </select>
    </div>
    <input type="submit" class="btn btn-success" value="Wyślij"/>
  </form>
</section>
