@import '../apartment-edit/section-edit.component';

.action {
  header {
    padding-top: 15px;
    border-bottom: 1px solid #e7e7e7;
  }
  form {
    padding: 20px 0;
    .select {
      label {
        width: 100%;
      }
      select {
        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
    }
  }
  .form-group {
    p {
      color: red;
      display: block;
      padding-top: 15px;
    }
    input[type=file] {
      border: none;
      padding-left: 0;
    }
  }
  .image {
    picture {
      img {
        height: auto;
        width: 100%;
      }
    }
  }
}
