<section class="container-fluid">
  <header>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="navbar-header">
        <h1>Develop System</h1>
      </div>
      <ul class="nav navbar-right">
        <li class="log-out">
          <a (click)="logOut()"><i class="fa fa-sign-out"></i> Wyloguj</a>
        </li>
      </ul>
    </nav>
  </header>
  <section class="content row">
    <div class="sidebar col-2">
      <app-admin-menu></app-admin-menu>
    </div>
    <div class="page col-10">
      <div class="content-section">
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>
</section>
