.container-fluid {
  padding: 0;
  .navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    padding: 0;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    .navbar-header {
      h1 {
        color: #777;
        padding: 13px 15px;
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
        margin-bottom: 0;
      }
    }
    .navbar-right {
      padding: 0 15px;
      a {
        cursor: pointer;
        display: block;
        padding: 15px;
        color: #337ab7;
      }
    }
  }
  .content {
    .content-section {
      min-height: calc(100vh - 75px);
      margin-right: 30px;
    }
    .sidebar {
      padding-right: 0;
      border-right: 1px solid #e7e7e7;
    }
    .page {
      background-color: #fff;
    }
  }
}
