<section class="flats">
  <div class="container">
    <header class="sectionHeader">
      <h2>Ostatnie realizacje</h2>
    </header>
    <div class="row">
      <mat-spinner *ngIf = "showSpinner === true"></mat-spinner>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor='let apartment of apartments, let i = index'>
        <div class="flat" *ngIf="i <= 8">
          <div class="picture">
            <img src="http://145.239.83.211:81/api/photos/{{apartment.main_image_id}}" alt="" />
          </div>
          <div class="description">
            <h2>{{apartment.city}}, ul.{{ apartment.street }}</h2>
            <p>{{apartment.area}}</p>
            <span>{{ apartment.price }} zł</span>
          </div>
          <a [routerLink]="['/apartments',apartment.id]"></a>
        </div>
      </div>
    </div>
    <a class="more" (click) = scrollFlats() routerLink="apartments">Zobacz wiecej</a>
  </div>
</section>
