.flats {
  padding: 50px 0;
  .container {
    .sectionHeader {
      h2 {
        &::after {
          content: '';
          position: absolute;
          display: block;
          width: 60px;
          height: 5px;
          background: #5ac7b3;
          bottom: 0;
          left: calc(50% - 25px);
        }
        margin-bottom: 50px;
        font-size: 32px;
        color: #101522;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        position: relative;
        padding-bottom: 15px;
      }
    }
    .flat {
      position: relative;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 10px -1px rgba(204,204,204,1);
      margin: 20px 0;
      transition: box-shadow .4s;
      .picture {
        img {
          width: 100%;
          height: 195px;
        }
      }
      .description {
        background-color: #fff;
        padding: 20px;
        font-size: 14px;
        color: #666;
        position: relative;
        h2 {
          font-size: 14px;
          font-weight: 400;
          padding-bottom: 0;
          line-height: 20px;
          overflow: hidden;
          height: auto;
        }
        p {
          color: #aaaaaa;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        span {
          font-size: 22px;
          color: #5ac7b3;
          font-weight: 400;
          line-height: 0.7;
        }
      }
      a {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
      }
      &:hover {
        box-shadow: 0 0 17px 0 rgba(204,204,204,1);
      }
    }
  }
  .more {
    width: 300px;
    margin: 50px auto 0 auto;
    padding: 10px 0;
    text-align: center;
    display: block;
    box-shadow: 0 0 17px 0 rgba(204,204,204,1);
    text-decoration: none;
    color: #fff;
    transition: background-color .4s, color .4s, opacity .4s;
    background-color: #5ac7b3;
    &:hover {
      opacity: .8;
    }
  }
  @media screen and (max-width: 330px) {
    .more {
      width: 100%;
    }
  }
}
