.content-login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #101522;
  flex-direction: column;

  .logo {
    text-align: center;
    margin-bottom: 50px;

    picture {
      img {
        height: auto;
        width: 100px;
      }
    }
  }

  .login {
    width: 400px;
    background-color: #121825;
    padding: 50px;

    input[type=text], input[type=password] {
      display: flex;
      padding: 10px 20px;
      margin-bottom: 10px;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid #202635;
      width: 100%;
      color: #fff;
    }

    input[type=submit] {
      margin-top: 25px;
      width: 100%;
      padding: 10px 0;
      color: #fff;
      background-color: #5ac7b3;
      border: none;
      cursor: pointer;
      transition: opacity .4s;

      &:hover {
        opacity: .7;
      }
    }
  }

  span {
    margin-top: 20px;
    display: block;
    color: #fff;
    cursor: pointer;
  }
}
