<div class="content-login">
    <div class="login">
        <div class="logo">
            <picture>
                <img src="../../assets/img/logo.svg" alt="Logo"/>
            </picture>
        </div>
        <div class="login-form">
            <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
                <input type="text" formControlName="email" placeholder="User"/>
                <input type="password" formControlName="password" placeholder="Password"/>
                <input type="submit" value="Login" [disabled] = "!loginForm.valid">
            </form>
        </div>
    </div>
    <span routerLink="">Develop System</span>
</div>
