<section class="content">
  <header>
    <h1>
      Wiadomości
    </h1>
  </header>
  <div class="message" (click)="showDescription()" [ngClass]="{'active': toggle}" *ngFor='let message of messages'>
    <div class="title">
      <div class="answer">
        <h2>{{ message.name }}</h2>
        <a href="mailto:{{message.email}}">Odpowiedź</a>
      </div>
      <time>{{ message.created_at }}</time>
    </div>
    <div class="description">
      <a href="mailto:{{ message.email }}">{{ message.email }}</a>
      <p>
        {{ message.message }}
      </p>
    </div>
  </div>
</section>
