.content {
  padding-top: 15px;
}

header {
  padding-bottom: 5px;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 20px;
  h1 {
    font-weight: 400;
  }
}

.message {
  margin-bottom: 15px;
  .title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #e7e7e7;
    padding: 13px 15px;
    .answer {
      display: flex;
      align-items: center;
      h2 {
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 700;
      }
      a {
        margin-left: 10px;
        display: block;;
        font-weight: 400;
        text-align: center;
        background-color: #e0a800;
        border: 1px solid #e0a800;
        padding: .375rem .75rem;
        font-size: 12px;
        color: #fff;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
    }
    time {
      font-size: 14px;
      color: #9e9e9e;
    }
  }
  .description {
    padding: 10px 15px 0 15px;
    border: 1px solid #e7e7e7;
    border-top: none;
    a {
      margin-bottom: 10px;
      color: #337ab7;
      display: block;
    }
    p {
      font-size: 16px;
    }
  }
}
