<div class="navbar-default">
  <nav>
    <ul class="nav in">
      <li class="sidebar-search">
      </li>
      <li><a routerLink="admin">Statystyki</a></li>
      <li>
        <a routerLink="section">Nieruchomości</a>
      </li>
      <li>
        <a routerLink="archive">Archiwum nieruchomości</a>
      </li>
      <li>
        <a routerLink="message">Wiadomości</a>
      </li>
    </ul>
  </nav>
</div>
