.navbar-default {
  border-bottom: none;
  .in {
    li.sidebar-search {
      display: block;
      padding: 20px;
      &:hover {
        background-color: transparent;
      }
    }
    li {
      width: 100%;
      a {
        display: block;
        color: #337ab7;
        padding: 10px 20px;
        border-bottom: 1px solid #e7e7e7;
        text-decoration: none;
      }
      &:hover {
        background-color: #eeeeee;
      }
    }
  }
}
