<div class="apartment">
  <header>
    <h2>{{apartment.name}}</h2>
    <span>{{apartment.price}} zł</span>
  </header>
  <div class="images row">
    <div *ngFor = "let image of apartment.images" class="col-xl-2 col-sm-4 col-6 image">
      <picture>
        <img src="http://145.239.83.211:81/api/photos/{{image}}" alt="" />
      </picture>
      <a href="http://145.239.83.211:81/api/photos/{{image}}" target="_blank"></a>
    </div>
  </div>
  <div class="details">
      <div class="row">
        <div class="col-12 col-xl-3">
          <b>Powierzchnia:</b> {{apartment.area}}
        </div>
        <div class="col-12 col-xl-3">
          <b>Numer piętra:</b> {{apartment.floor_number}}
        </div>
        <div class="col-12 col-xl-3">
          <b>Miasto:</b> {{apartment.city}}
        </div>
        <div class="col-12 col-xl-3">
          <b>Ulica:</b> {{apartment.street}}
        </div>
      </div>
    <h3>Opis mieszkania</h3>
    <p class="desc">
      {{apartment.description}}
    </p>
  </div>
</div>

