.apartment {
  padding: 50px 0;
  header {
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid #b8ceca;
    span {
      font-size: 30px;
      color: #5ac7b3;
      font-weight: 400;
    }
  }
  .images {
    margin: 0 0 25px 0;
    position: relative;
    .image {
      padding: 0;
      picture {
        img {
          width: 100%;
          height: 130px;
        }
      }
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
  .details {
    .row {
      margin-bottom: 25px;
    }
    h3 {
      font-size: 20px;
      font-weight: 700;
      border-bottom: 1px solid #b8ceca;
      padding-bottom: 10px;
    }
    ul {
      list-style: none;
      margin: 0 0 25px 0;
      padding: 0;
    }
  }
}
