<nav class="navbar fixed-top">
  <div class="container">
    <a class="logo" routerLink="">
      <figure><img src="../../assets/img/logo.svg" alt="" /></figure>
    </a>
    <ul class="navbar">
      <li>
        <a (click)="scrollHome()" routerLink="">Strona główna</a>
      </li>
      <li>
        <a (click)="scrollFlats()" routerLink="/apartments">Lista mieszkań</a>
      </li>
      <li>
        <a (click)="scrollContact()">Kontakt</a>
      </li>
      <li>
        <a routerLink="/login">Zaloguj</a>
      </li>
    </ul>
  </div>
</nav>
<header class="bg-primary"></header>
