nav.navbar {
  background-color: rgba(16, 21, 34, 0.9);
  .logo {
    padding: 0;
    display: flex;
    align-items: center;
    figure {
      margin: 0;
      img {
        width: 40px;
        height: auto;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      a {
        padding: 0 10px;
        color: #fff;
        font-weight: 300;
        text-decoration: none;
        transition: color .4s;
        cursor: pointer;
        &:hover {
          color: #5ac7b3;
        }
        &.active {
          color: #5ac7b3;
        }
      }
    }
  }
  @media screen and (max-width: 500px) {
    .logo {
      width: 100%;
      padding: 10px 0;
      justify-content: center;
      figure {
        img {
          width: 30px;
        }
      }
    }
    .navbar {
      width: 100%;
      li {
        a {
          font-size: 15px;
        }
      }
    }
  }
}


header {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  position: relative;
  background: url(/../../../assets/img/header2.jpeg) no-repeat fixed top center / cover;
  min-height: 70vh;
}
