<section class="contactForm">
  <div class="container">
    <header class="sectionHeader">
      <h2>Kontakt</h2>
    </header>
    <div class="row">
      <div class="col-lg-12">
        <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
          <fieldset>
            <input [ngClass]="{'invalid': submitted, 'valid': accept}" type="text" placeholder="Imię i nazwisko"
              formControlName="name" />
            <input [ngClass]="{'invalid': submitted, 'valid': accept }" type="email" placeholder="E-mail"
              formControlName="email" />
            <textarea [ngClass]="{'invalid': submitted, 'valid': accept }" placeholder="Wiadomość" formControlName="message"></textarea>
            <div class="dot" *ngIf="submitted">
              <p>Musisz wypełnić poprawnie wszystkie pola!</p>
            </div>
            <input type="submit" value="Wyślij" />
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="copyright">
    <p>
      Copyright &copy; <span>Develop System</span>
    </p>
    <div class="author">
      <ul>
        <li>
          <h2>Projekt został wykonany przez:</h2>
        </li>
        <li>Magda Kichman</li>
        <li>Damian Róg</li>
        <li>Sebastian Trzuskot</li>
        <li>Michał Kuchta</li>
        <li>Patryk Kudła</li>
      </ul>
    </div>
  </div>
</footer>
