.contactForm {
  padding: 50px 0;
  background-color: #ffffff;
  input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border-bottom: 1px solid #ff0300 !important;
  }
  input.ng-valid, textarea.ng-dirty {
    border-bottom: 1px solid #459440 !important;
  }
  .sectionHeader {
    h2 {
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 60px;
        height: 5px;
        background: #5ac7b3;
        bottom: 0;
        left: calc(50% - 25px);
      }
      margin-bottom: 50px;
      font-size: 32px;
      color: #101522;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      position: relative;
      padding-bottom: 15px;
    }
  }
  form {
    fieldset {
      text-align: center;
    }
    .dot {
      display:flex;
      align-items:center;
      background-size: 20px;
      margin-bottom: 10px;
      p {
        margin-bottom: 0;
        color: #ff0300;
      }
    }
    input[type=text],input[type=email],textarea {
      padding: 10px 14px;
      font-size: 15px;
      display: block;
      width: 100%;
      resize: vertical;
      color: #495057;
      background-color: #fff;
      border: 1px solid #ced4da;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      margin-bottom: 20px;
      &.invalid {
        border-bottom: 1px solid #ff0300;
      }
    }
    textarea {
      min-height: 120px;
    }
    div {
      display: flex;
      align-items: center;
      p {
        text-align: left;
        color: #fff;
        margin-bottom: 10px;
        font-size: 13px;
      }
    }
    input[type=submit] {
      width: 300px;
      padding: 10px;
      margin-top: 30px;
      border: none;
      cursor: pointer;
      background-color: #5ac7b3;
      color: #fff;
      transition: opacity .4s;
      &:hover {
        opacity: .8;
      }
    }
  }
  @media screen and (max-width: 330px) {
    form {
      input[type=submit] {
        width: 100%;
      }
    }
  }
}



.copyright {
  padding: 30px 0;
  display: block;
  text-align: center;
  background-color: #101522;
  p {
    color: #fff;
    margin-bottom: 0;
    span {
      color: #5ac7b3;
    }
  }

  .author {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: inline-block;
        color: #616161;
        font-size: 13px;
        padding: 0 5px;
        h2 {
          font-size: 13px;
          margin: 0;
        }
      }
    }
  }
}
