<section class="section-list">
  <header>
    <h1>Nieruchomości</h1>
  </header>
  <button type="button" routerLink="new" class="btn btn-success">Dodaj nowe mieszkanie</button>
  <section class="list">
    <div class="line-header">
      <div class="row">
        <div class="col-10 name">
          <h2>Nazwa</h2>
        </div>
        <div class="col-2 action">
          <h2>Akcje</h2>
        </div>
      </div>
    </div>
    <div class="line-header line" *ngFor='let apartment of apartmentsList'>
      <div class="row">
        <div class="col-10 name">
          <h2>{{ apartment.name }}</h2>
        </div>
        <div class="col-2 action">
          <button type="button" [routerLink]="apartment.id" class="btn btn-warning">Edytuj</button>
          <button type="button" (click)="removeFlat(apartment.id)" class="btn btn-danger">Usuń</button>
        </div>
      </div>
    </div>
  </section>
</section>
