.section-list {
  header {
    padding-bottom: 5px;
    border-bottom: 1px solid #e7e7e7;
    h1 {
      font-weight: 400;
      padding: 15px 0 0 0;
    }
  }
  button.btn-success {
    margin-top: 20px;
  }
  .list {
    margin: 20px 0;
    .line-header {
      background-color: #e7e7e7;
      padding: 23px 10px;
      border: 1px solid #e7e7e7;
      border-top: none;
      .row {
        .name {
          h2 {
            font-size: 18px;
            color: #337ab7;
            margin-bottom: 0;
            span {
              font-weight: 700;
            }
          }
        }
        .action {
          h2 {
            font-size: 18px;
            color: #337ab7;
            margin-bottom: 0;
            text-align: center;
          }
        }
      }
    }
    .line {
      background-color: transparent;
      padding: 10px;
      .row {
        display: flex;
        align-items: center;
        .name {
          h2 {
            color: #000;
            font-weight: 400;
          }
        }
        .action {
          text-align: center;
          .btn {
            margin: 5px;
          }
        }
      }
    }
  }
}
