<div class="container">
  <router-outlet></router-outlet>
  <section class="apartments-list">
    <header class="sectionHeader">
      <h2>Lista mieszkań</h2>
    </header>
    <mat-spinner *ngIf = "showSpinner === true"></mat-spinner>
    <section class="apartment" *ngFor='let apartment of apartments'>
      <div class="picture col-lg-3 col-sm-6">
        <img src="http://145.239.83.211:81/api/photos/{{apartment.images}}" alt=""/>
      </div>
      <div class="description col-lg-9 col-sm-6">
        <header>
          <h2>{{ apartment.name }}</h2>
          <span>{{ apartment.price }} zł</span>
        </header>
        <div class="price">
          <h3>{{ apartment.city }}, {{ apartment.street }}</h3>
          <p><b>Powierzchnia: {{ apartment.area }}</b></p>
        </div>
        <p class="details">
          {{ apartment.short_description }}
        </p>
      </div>
      <a [routerLink]="apartment.id"></a>
    </section>
  </section>
</div>
