.apartments-list {
  padding: 50px 0;
  .sectionHeader {
    h2 {
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 60px;
        height: 5px;
        background: #5ac7b3;
        bottom: 0;
        left: calc(50% - 25px);
      }
      margin-bottom: 70px;
      font-size: 32px;
      color: #101522;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      position: relative;
      padding-bottom: 15px;
    }
  }
  .apartment {
    display: flex;
    margin-bottom: 40px;
    position: relative;
    .picture {
      padding: 0;
      img {
        height: 185px;
        width: 100%;
      }
    }
    .description {
      border-bottom: 1px solid #b8ceca;
      header {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
          font-size: 30px;
          margin-bottom: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 600px;
          white-space: nowrap;
        }
        span {
          font-size: 30px;
          color: #5ac7b3;
          font-weight: 400;
        }
      }
      .details {
        span {
          display: block;
        }
        color: #8F8F8F;
        font-size: 14px;
        margin-bottom: 0;
      }
      .price {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
          font-size: 16px;
          color: #8F8F8F;
          margin-bottom: 0;
        }
        p {
          margin-bottom: 0;
        }
      }

    }
    &:hover {
      .description {
        border-bottom: 1px solid #5ac7b3;
      }
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: block;
    }
    @media screen and (max-width:1200px) {
      .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        header {
          flex-direction: column;
          align-items: flex-start;
          span {
            line-height: 1;
          }
        }
        .price {
          flex-direction: column;
          align-items: flex-start;
        }
        .details {
          display: none;
        }
      }
    }
    @media screen and (max-width:575px) {
      flex-direction: column;
      .picture {
        width: 100%;
        margin-bottom: 20px;
      }
      .description {
        header {
          h2 {
            width: 100%;
          }
        }
      }
    }
  }
}
