.action {
  header {
    padding: 15px 0 5px 0;
    border-bottom: 1px solid #e7e7e7;
    h1 {
      font-weight: 400;
    }
  }
  form {
    padding: 20px 0;
    input[type=file] {
      border: none;
      padding-left: 0;
    }
    .select {
      margin-top: 1rem;
      label {
        width: 100%;
      }
      select {
        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
    }
  }
}
.form-group {
  p {
    color: red;
    display: block;
    padding-top: 15px;
  }
}
.inputImage {
  position: relative;
  .form-control {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  label {
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    margin-bottom: 0;
    figure {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #5ac7b3;
      display: block;
      padding: 17px;
      margin: 0 auto 10px;
      svg {
        width: 100%;
        height: 100%;
        fill: #f1e5e6;
      }
    }
    span {
      color: #5ac7b3;
    }
  }
}
.image {
  picture {
    img {
      height: 175px;
      width: 100%;
    }
  }
}

