@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '../node_modules/jqwidgets-scripts/jqwidgets/styles/jqx.base.css';

body {
  background-color: #f8f8f8;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
.mat-spinner {
  margin: 0 auto;
    circle {
      stroke: #5ac7b3;
    }
}


app-apartment-details + .apartments-list {
  display: none;
}
