

.content {
  padding-top: 15px;
  header {
    padding-bottom: 5px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
    h1 {
      font-weight: 400;
    }
    span {
      font-size: 12px;
    }
  }
}

.jqx-chart-axis-text {
  display: none;
}
