<section class="content">
  <header>
    <h1>
      Statystyki
    </h1>
    <span>Statystyki dotyczą tylko dostępnych nieruchomości</span>
  </header>
  <jqxChart #myChart
            [width]="getWidth()" [height]="500" [description]="'2019'"
            [title]="'Najczęściej odwiedzane nieruchomości'"
            [enableAnimations]="true" [showLegend]="true" [padding]="padding"
            [titlePadding]="titlePadding" [source]="tabObj" [xAxis]="xAxis"
            [valueAxis]="valueAxis" [seriesGroups]="seriesGroups" [colorScheme]="'scheme13'">
  </jqxChart>
</section>
